$branColor_main: #040c1a;
$brandColor_secondary: #020a18;
$buttonColor_main: #3A68B8;
$backgroundColor_card: #132035;
$textColor_main: #FFFFFF;
$textColor_secondary1: #FFFFFF;
$textColor_buttons: #FFFFFF;